.slide {
  width: 60%;
  height: 100%;
  z-index: 2;
  color:black;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.slide-hidden {
  display: none;
}

.quote-icon {
  font-size: 48px;
  padding: 0;
}

.customer-quote p {
  font-family: "Expletus Sans", serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

.testimonial-title {
  font-family: "Expletus Sans", serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.customer-quote {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer-location {
  font-family: "Expletus Sans", serif;
  font-size: 18px;
  margin: 0;
}