.services {
  margin: 0;
  padding: 0 30px;
}

.services-title {
  font-family: "Expletus Sans", serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-size: 50px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  width: 100%;
  margin: 40px 0 60px 0;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.service-image-container {
  width: 100%;
  margin: 0 0 7vw 0;
}

.service-image-container img {
  height: 90vh;
  width: auto;
  margin: 0 0 0 8vw;
  border-radius: 5px;
}

.service-text-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-text-subcontainer {
  background-color: var(--primary-color);
  color: black;
  border-radius: 5px;
  width: 60%;
  padding: 50px 40px;
}

.service-list {

}

.service-title {
  font-family: "Expletus Sans", serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 20px 0;
  color: var(--primary-color);
  width: 60%;
}

.service-paragraph {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--background-color);
  width: 100%;
  line-height: 1.5;
}

.service-list-title {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 15px;
  margin: 40px 0 10px 0;
  color: var(--background-color);
}

.service-list {
  margin: 0 20px 0 0;
}

.service-list-item {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--background-color);
  border-bottom: 1px solid rgb(164, 164, 164);
  width: 100%;
  margin: 0;
  padding: 15px 0 15px 5px;
}

.service-links-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}

.service-links {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--background-color);
  padding: 6px 0;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: rgb(164, 164, 164);
}

@media screen and (max-width: 1100px) {
  .service-image-container img {
    height: 70vh;
    width: auto;
    margin: 0 0 0 8vw;
  }

  .service-title {
    width: 80%;
  }

  .service-text-subcontainer {
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .service-image-container img {
    margin: 0 0 0 5vw;
  }

  .service-title {
    width: 90%;
  }

  .service-text-subcontainer {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .services {
    margin: 0;
    border-top: 3px solid var(--primary-red);
  }

  .services-title {
    line-height: 1;
    font-size: 35px;
    margin: 40px 0;
  }

  .service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 100px 0;
  }

  .service-title {
    font-family: "Expletus Sans", serif;
    font-weight: 700;
    font-size: 30px;
    margin: 10px 0 30px 0;
  }

  .service-image-container {
    margin: 0;
  }

  .service-image-container img {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .service-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .service-text-subcontainer {
    width: 100%;
  }

  .service-list {
    margin: 0;
  }
}