.testimonial-slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: var(--primary-color);
  padding: 50px 0;
}

.testimonial-arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: black;
  filter: drop-shadow(0rem 0rem 1rem rgb(0,0,0,0.2));
  z-index: 3;
  transition: 0.2s;
}

.testimonial-arrow:hover {
  cursor: pointer;
  color: grey;
}

.testimonial-arrow-left {
  left: 30px;
}

.testimonial-arrow-right {
  right: 30px;
}

.testimonial-selections {
  display: flex;
  position: absolute;
  bottom: 3rem;
}

.testimonial-selection {
  background-color: black;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0rem 0rem 1rem rgb(0,0,0,0.2);
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}

.testimonial-selection-inactive {
  background-color: grey;
}

@media screen and (max-width: 600px) {
  .testimonial-slideshow {
    height: 90vh;
    padding: 0;
  }

  .testimonial-arrow-left {
    left: 5px;
  }

  .testimonial-arrow-right {
    right: 5px;
  }
}