.services-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  background-color: var(--secondary-color);
  padding: 80px 30px;
  border-radius: 20px 20px 0 0;
}

.services-banner-title {
  font-family: "Expletus Sans", serif;
  font-weight: 700;
  font-size: 50px;
  color: var(--primary-color);
  width: 100%;
  align-self: start;
}

.services-banner-blocks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.services-banner-block {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  width: 100%;
  height: calc(600px - 10vw);
  padding: 30px 25px;
  margin: 0 10px;
  background-color: var(--primary-color);
  color: black;
  border-radius: 5px;
}

.services-banner-block-icon {
  width: 80px;
  height: 80px;
  margin: 0 0 50px 0;
}

.services-banner-block-title {
  font-family: "Expletus Sans", serif;
  font-weight: 700;
  font-size: 30px;
  width: 100%;
  align-self: start;
  margin: 0 0 15px 0;
  padding: 0;
}

.services-banner-block-text {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  min-height: calc(310px - 10vw);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .services-banner {
    justify-content: center;
    align-items: center;
    padding: 40px 30px 70px 30px;
  }

  .services-banner-title {
    font-size: 30px;
  }

  .services-banner-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
  }

  .services-banner-block {
    margin: 10px 0;
    padding: 40px 30px 50px 30px;
    height: auto;
  }

  .services-banner-block-title {
    margin: 0 0 20px 0;
  }

  .services-banner-block-text {
    font-weight: 300;
    font-size: 18px;
    min-height: 0;
  }
}