.nav-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem 100%;
  box-shadow: 0 0 0.5rem;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 5;
}

.nav-header {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  border-bottom: 1px solid black;
}

.nav-bar {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  width: 100%;
}

.header-text {
  margin: 0 1rem 0 0;
  text-align: right;
  width: 30rem;
}

.logo {
  height: 4rem;
  width: auto;
  margin: 0 0 0.5rem 0;
}

.fb-logo {
  height: 1.5rem;
  width: auto;
  padding: 0;
  margin: 0 2rem 0 0;
  fill: #316FF6;
}

.fb-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .nav-container {
    font-size: 0.5rem;
  }
  
  .logo {
    height: 2rem;
  }

  .header-text {
    font-size: 0.5rem;
  }

  .nav-bar {
    font-size: 0.5rem;
  }
}