.root {
  display: flex;
  flex-direction: column;
}

.navbar-container {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: var(--primary-white);
}

.nav-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 30px 30px 0px 30px;
  width: 100%;
  justify-content: space-between;
}

.nav-header {
  font-family: "Expletus Sans", serif;
  font-weight: 800;
  font-size: 60px;
  padding: 30px 0 15px 0;
  color: rgb(255, 87, 64);
}

.nav-subheader {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 30px;
  color: var(--primary-red);
}

.logo {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  font-family: "Expletus Sans", serif;
  font-weight: 700;
  font-size: 20px;
}

.past-projects-text {
  color: var(--primary-red);
}

.services-text {
  color: var(--primary-red);
  /* margin: 0 35px; */
}

.nav-more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin: 0 25px 0 0;
  padding: 0;
  width: min-content;
  height: min-content;
}

.fb-logo {
  width: 35px;
  height: auto;
  color: var(--fb-logo);
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

/* MOBILE */
.navbar-mobile {
  padding: 9px 10px 10px 12px;
  margin: 15px 0 0 0;
  width: 95%;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
}

.hamburger-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.hamburger {
  color: var(--primary-red);
}

.logo-mobile {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color:  var(--primary-red);
  width: 100%;
  text-align: right;
  padding: 0 20px 0 0;
}

.grid-rows-collapsible {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in-out;
}

.grid-rows-collapsible > div {
  overflow: hidden;
}

.nav-button-header-container-row {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-button-header-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  padding: 0;
  margin: 0;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Expletus Sans", serif;
  font-weight: 400;
  font-size: 20px;
  background-color: var(--background-color);
  border-bottom: 0px solid var(--primary-red);
  transition: border-bottom 300ms;
  margin: 0;
  padding: 0;
}

.nav-link-mobile {
  margin: 20px 0;
}

.nav-link-button {
  padding: 0;
  width: max-content;
  text-align: right;
}

.nav-tel-text {
  text-align: center;
  width: max-content;
  padding: 5px 0 0 0;
}

.nav-tel-text a {
  font-family: "Roboto", serif;
  color: var(--primary-red);
  font-size: 15px;
  text-align: right;
  width: 100%;
}

.nav-mobile-fb-logo {
  width: 35px;
  height: auto;
  color: var(--fb-logo);
  margin: 15vh 0 2rem 0;
}

/* root button */
.root-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: rgba(255, 115, 115, 0);
  transition: background-color 300ms;
  z-index: 2;
}

.root-button {
  color: var(--secondary-color);
  background-color: var(--primary-red);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(227, 50, 50, 0.3);
  padding: 15px;
  margin: 0 10px 20px 0;
  cursor: pointer;
  width: max-content;
}

.root-button-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: flex-end;
  font-family: "Expletus Sans", serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 20px 30px 0;
  padding: 0;
}

.root-button-text {
  color: var(--secondary-color);
}

.nav-menu-mobile-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 2px solid var(--secondary-color);
  border-radius: 2px;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 0;
  }

  .nav-links {
    width: 50%;
    font-size: 16px;
  }

  .nav-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .nav-header {
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 40px;
    padding: 15px 0 15px 0;
    color: rgb(42, 42, 157);
    text-align: center;
  }

  .nav-subheader {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-red);
    z-index: -1;
    padding: 22px 15px 22px 15px;
    text-align: center;
  }

  .services-text {
    color: var(--primary-red);
  }

  .past-projects-text {
    color: var(--primary-red);
  }
}

@media screen and (max-width: 400px) {
  .nav-subheader {
    font-size: 16px;
  }
}