.root {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: var(--primary-red);
}

.nav-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px 0;
}

.nav-header {
  font-family: "Roboto", serif;
  font-weight: 800;
  font-size: 60px;
  padding: 30px 0 15px 0;
  color: rgb(42, 42, 157);
}

.nav-subheader {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-red);
}

.logo {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  justify-content: left;
  align-items: center;
  width: max-content;
  font-family: "Expletus Sans", serif;
  font-weight: 700;
  font-size: 20px;
}

.past-projects-text {
  color: var(--secondary-color);
}

.services-text {
  color: var(--secondary-color);
  margin: 0 35px;
}

.nav-more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-logo {
  width: 25px;
  height: auto;
  color: var(--secondary-color);
  margin: 0 18px 0 0;
}

/* MOBILE */
.navbar-mobile {
  padding: 15px 0 0 0;
  margin: 0;
  z-index: 1;
}

.hamburger-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0 0 15px;
}

.hamburger {
  width: 100%;
  color: var(--primary-red);
}

.logo-mobile {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color:  var(--primary-red);
  width: 100%;
  text-align: right;
  padding: 0 20px 0 0;
}

.nav-links-mobile {
  flex-direction: column;
  align-items: center;
  font-family: "Expletus Sans", serif;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  transition: all 300ms;
  margin: 0;
  padding: 50px 0 0 0;
}

.nav-link-mobile {
  padding: 20px 0;
}

.button-mobile {
  padding: 0;
}

.nav-mobile-fb-logo {
  width: 30px;
  height: auto;
  color: var(--primary-red);
  margin: 25vh 0 30px 0;
}

@media screen and (max-width: 900px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 650px) {
  .nav-links {
    width: 50%;
    font-size: 16px;
  }

  .nav-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .nav-header {
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 40px;
    padding: 15px 0 15px 0;
    color: rgb(42, 42, 157);
    text-align: center;
  }

  .nav-subheader {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-red);
  }

  .services-text {
    color: var(--primary-red);
  }

  .past-projects-text {
    color: var(--primary-red);
  }
}