@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #fdf3e7;
  --secondary-color: #1a1a1a;
  --background-color: rgb(35, 35, 35);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #2d402c; */
  /* background-color: #334729; */
  background-color: var(--background-color);
  color: var(--primary-color);
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

p {
  font-size: 0.9rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

button {
  color: black;
}